/*
Name: 			post.css
Written by: 	Lavrinenko Aleksandr
Theme Version:	1.0
*/

// bootstrap imrport
// @import "bootstrap/bootstrap.scss";

// COMMON IMPORTS
@import "config/imports";

// HELPERS
@import "base/helpers";

// BASE
@import "base/base";


// header
@import "base/header";

.post {
    .mt-30 {
        margin-top: 30px;

        @media screen and (max-width: 1199px) {
            margin-top: 25px;
        }

    }

    .category {
        padding-left: 10px;
        border-left: 2px solid $color-red;
        color: $color-middle-gray;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 120%;
        font-weight: $font-bold;
    }
}

.post-info {
    color: $color-middle-gray;
    font-size: 13px;
    line-height: 140%;

    .main-info {
        gap: 22px;
        align-items: center;
        margin-top: 30px;

        @media screen and (max-width: 1199px) {
            margin-top: 25px;
        }

        >div+div {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -11px;
                top: 0;
                width: 1px;
                height: 100%;
                background: $color-middle-gray
            }
        }

        .time-read>* {
            display: inline-block;
            vertical-align: middle;
        }

        .time-read span {
            margin-left: 3px;
        }
    }

    .post-share {
        margin-top: 10px;
        gap: 10px;
        align-items: center;

        @media screen and (max-width: 1199px) {
            margin-top: 5px;
        }

        .post-shares-links {
            gap: 10px;
            align-items: center;

            >a,
            img {
                display: block;
            }
        }
    }
}

.post-inner {
    img {
        display: block;
        width: 100%;
    }

    .img-wrapper {
        margin: 0;

        &.--big {
            padding-bottom: 30px;
            border-bottom: 1px solid $color-light-gray;

            @media screen and (max-width: 1199px) {
                margin: 0 -15px;
                padding: 0 15px;
                padding-bottom: 25px;
            }


            figcaption {
                font-size: 13px;
                line-height: 140%;
                padding-top: 15px;

                >span {
                    color: $color-middle-gray;
                }
            }
        }
    }

    .post-text {
        font-size: 17px;
        line-height: 150%;

        // @media screen and (max-width: 1199px) {
        //     padding: 0;
        // }

        &+.img-wrapper {
            margin-top: 30px;
        }

        p {
            margin: 0;

            >a {
                display: inline;
                color: inherit;
                border-bottom: 1px solid;

                &:hover {
                    border-color: transparent;
                }
            }

            &+p,
            &+.with-new {
                margin: 0;
                margin-top: 20px;
            }
        }

        .with-new+p,
        h2 {
            margin-top: 20px;
        }

        h2 {
            padding-bottom: 10px;
            padding-left: 0;
            border-left: none;
            font-weight: $font-bold;
            text-transform: none;
            font-size: 32px;
            line-height: 120%;
        }
    }

    .post-new {
        // &.w-100 {
        //     width: 100%;
        // }

        &+p {
            margin-top: 20px;

            @media screen and (max-width: 1199px) {
                margin-top: 25px;
            }
        }

        &:not(.--vertical) {
            margin-top: 20px;

            @media screen and (max-width: 1199px) {
                margin-top: 25px;
            }
        }

        padding: 15px 0;
        border-top: 1px solid $color-light-gray;
        border-bottom: 1px solid $color-light-gray;
        gap: 20px;

        .img-wrapper {
            width: 200px;


            @media screen and (max-width: 1199px) {
                width: 24vw;
                height: 24vw;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .descript {
            flex: 1;
            min-width: 0;
            @include flex-column;
            gap: 15px;
        }

        // .category {
        //     padding-left: 10px;
        //     border-left: 2px solid $color-red;
        //     color: $color-middle-gray;
        //     text-transform: uppercase;
        //     font-size: 12px;
        //     line-height: 120%;
        //     font-weight: $font-bold;
        // }

        .title {
            font-weight: $font-medium;
            font-size: 18px;
            line-height: 140%;
            color: $color-main-text;
            font-family: $font-second;

            @media screen and (max-width: 1199px) {
                font-size: 15px;
            }
        }

        &:hover .title {
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 1px;
        }

        &.--vertical {
            @include flex-column;
            gap: 15px;
            margin-top: 5px;

            @media screen and (max-width: 1199px) {
                flex-direction: row;
                gap: 20px;
                margin-top: 0;
            }

            .img-wrapper {
                width: 100%;

                @media screen and (max-width: 1199px) {
                    width: 24vw;
                    height: 24vw;

                    img {
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {

    .post-inner .col-xl-5+.post-text,
    .post-inner .post-text+.col-xl-5 {
        margin-top: 20px;
    }

    .post-inner>.post-text {
        padding: 0;
    }

    .post-inner .attention-wrapper {
        margin: 0 -15px;
        width: auto;
        padding: 30px 15px;
    }
}

.tags-wrapper {
    gap: 10px;

    @media screen and (max-width: 1199px) {
        margin: 0 -15px;
    }
}

.actual-post-wrapper {
    height: auto;
    position: sticky;
    top: 100px;

    @media screen and (max-width: 1199px) {
        position: initial;
        top: auto;
    }
}

//News
@import "components/news";

//Actual posts
@import 'components/actual-posts';

// footer
@import "base/footer";