.actual-news-wrapper {
    @include flex-column;
    height: 100%;
    width: 100%;
    background: #FBFBFB;
    // color: $color-second-text;
    // padding: 32px 20px;
    border-right: 1px solid $color-border-grey;
    border-bottom: 1px solid $color-border-grey;

    >.title {
        // text-transform: uppercase;
        font-size: 25px;
        line-height: 128%;
        letter-spacing: -0.02em;
        padding: 30px;
        font-weight: $font-bold;
        // line-height: 120%;
        width: 100%;
        border-bottom: 1px solid $color-border-grey;

        @media screen and (max-width: 1199px) {
            // font-size: 20px;
            padding-bottom: 25px;
        }

        @media screen and (max-width: 767px) {
            padding: 20px 15px;
        }
    }

    @media screen and (max-width: 1199px) {
        // margin-top: 30px;
        border: 1px solid $color-border-grey;
        border-top: none;
    }
}

.actual-news-labels {
    padding: 30px;
    border-bottom: 1px solid $color-border-grey;
    row-gap: 10px;
    column-gap: 8px;
    width: 100%;

    @media screen and (max-width: 767px) {
        padding: 20px 15px;
    }

    .actual-news-label {
        font-size: 15px;
        line-height: 133%;
        letter-spacing: -0.02em;
        padding: 6px 10px;
        border-radius: 4px;

        &.--black {
            color: $color-second-text;
            background: $color-bg-second;
        }

        &.--red {
            color: $color-second-text;
            background: $color-red;
        }
    }
}

.actual-news-items {
    // margin-top: 30px;
    @include flex-column;
    // gap: 30px;
    flex: 1;
    width: 100%;

}

.actual-news-item {
    width: 100%;
    padding: 40px 30px;
    flex: 1;
    @include flex-block;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 767px) {
        padding: 20px 15px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $color-light-gray;

    }

    .news-category {
        text-transform: uppercase;
        color: $color-middle-gray;
        font-size: .5rem;
        font-weight: $font-bold;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-left: 2px solid $color-red;
        width: 100%;
        line-height: 120%;

        @media screen and (max-width: 1199px) {
            font-size: 12px;
        }
    }

    .news-title {
        width: 100%;
        color: $color-main-text;
        font-size: 17px;
        font-weight: $font-bold;
        line-height: 118%;
        // margin-top: 15px;
        height: 60px;
        overflow: hidden;

        @media screen and (max-width: 1339px) {
            font-size: 16px;
            height: 58px;
        }

        @media screen and (max-width: 1199px) {
            font-size: 16px;
            max-height: none !important;
            height: auto;
        }

        // font-weight: $font-bold;
    }

    // &:nth-child(2n) {
    //     .news-title {
    //         max-height: 3vw;
    //     }
    // }

    // &:nth-child(2n+1) {
    //     .news-title {
    //         max-height: 5vw;
    //     }
    // }

    &:hover {
        .news-title {
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 1px;
            // border-bottom: 1px solid $color-main-text;
        }
    }
}