.actual-news-wrapper {
    @include flex-column;
    height: 100%;
    width: 100%;
    background: $color-bg-second;
    color: $color-second-text;
    padding: 32px 20px;

    >.title {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: $font-bold;
        padding-bottom: 35px;
        line-height: 120%;
        width: 100%;
        border-bottom: 1px solid $color-light-gray;

        @media screen and (max-width: 1199px) {
            font-size: 20px;
            padding-bottom: 25px;
        }

        >span {
            display: inline-block;
            padding-left: 10px;
            border-left: 4px solid $color-bg;
        }
    }
}

.actual-news-items {
    margin-top: 30px;
    @include flex-column;
    gap: 30px;

    @media screen and (max-width: 1199px) {
        margin-top: 25px;
        gap: 25px;
    }
}

.actual-news-item {
    width: 100%;

    &:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: 1px solid $color-light-gray;

        @media screen and (max-width: 1199px) {
            padding-bottom: 25px;
        }
    }

    .news-category {
        text-transform: uppercase;
        color: $color-middle-gray;
        font-size: .5rem;
        font-weight: $font-bold;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-left: 2px solid $color-red;
        width: 100%;
        line-height: 120%;

        @media screen and (max-width: 1199px) {
            font-size: 12px;
        }
    }

    .news-title {
        width: 100%;
        color: $color-second-text;
        font-size: .7rem;
        margin-top: 15px;
        overflow: hidden;
        line-height: 140%;

        @media screen and (max-width: 1199px) {
            font-size: 16px;
            max-height: none !important;
        }

        // font-weight: $font-bold;
    }

    &:nth-child(2n) {
        .news-title {
            max-height: 3vw;
        }
    }

    &:nth-child(2n+1) {
        .news-title {
            max-height: 5vw;
        }
    }

    &:hover {
        .news-title {
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 1px;
            // border-bottom: 1px solid $color-main-text;
        }
    }
}