.soviet-wrapper {
    // border-right: 1px solid $color-light-gray;
    padding-top: 30px;

    @media screen and (max-width: 1199px) {
        border-right: none;
    }

    .heading-wrapper {
        margin-bottom: 30px;
        justify-content: flex-start;
        gap: 30px;

        @media screen and (max-width: 767px) {
            // @include flex-column;
            align-items: center;
            gap: 20px;
            padding-right: 0;
            margin-bottom: 25px;
        }

        .btn {
            padding: 6px 10px;
        }

        .swiper-navigation {
            align-items: center;
            gap: 10px;

        }

        .swiper-button {
            position: relative;
            width: 24px;
            height: 24px;
            // border-radius: 50%;
            transition: $transition;
            // border: 1px solid $color-middle-gray;
            background-image: none;
            margin: 0;
            top: auto;
            left: auto;
            bottom: auto;
            right: auto;
            z-index: initial;



            >span {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(../media/icons/arrow-slider.svg);
                @include bg-style;
                background-size: 30%;
            }

            &.swiper-button-prev {
                transform: rotate(-180deg);
            }
        }
    }

    .soviet-slider-wrapper {
        position: relative;

        @media screen and (max-width: 767px) {
            .swiper-container {
                margin: 0 -15px;
                padding: 0 15px;
            }
        }


    }

    .swiper-slide {
        width: 290px;
        padding: 30px;
        height: auto;

        @media screen and (max-width: 767px) {
            padding: 20px 15px;
        }

        border: 1px solid $color-border-grey;

        &+.swiper-slide {
            border-left: none;
        }


        .soviet-slide {
            @include flex-column;
            gap: 15px;
            justify-content: center;
            text-align: center;

            >* {
                width: 100%;
            }

            .img-wrapper {
                overflow: hidden;
            }

            img {
                width: 100%;
                display: block;
            }

            .title {
                //   font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: -0.02em;
                font-weight: $font-medium;
                padding: 0 10px;

                // font-family: $font-second;

                @media screen and (max-width: 1199px) {
                    font-size: 18px;
                }
            }

            .subtitle {
                font-size: .6rem;
                // color: $color-middle-gray;
                // font-size: 15px;
                line-height: 133%;
                letter-spacing: -0.02em;
                padding: 0 10px;

                @media screen and (max-width: 1199px) {
                    font-size: 13px;
                }
            }
        }
    }

    .soviet-wrapper-bottom {
        padding: 24px 0;
        justify-content: flex-end;
        padding-right: 20px;

        .link {
            font-size: .7rem;
        }

        @media screen and (max-width: 1199px) {
            padding: 20px 0;
            width: 100%;
            justify-content: flex-start;
            border-bottom: 1px solid $color-light-gray;

            .link {
                font-size: 16px;
            }
        }
    }

}


// @media screen and (max-width: 1199px) {
//     .soviet-slider-wrapper .swiper-container {
//         margin: 0 -15px;
//         padding: 0 15px;
//     }
// }